@{
    ViewData["Title"] = "CheckEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding: 20px;">
    <div class="alert alert-success" role="alert">
        Please, check your email.
    </div>
</div>
