@using Fiorello.ViewModels.AccountVMs
@model ForgetPasswordVM

<div class="container">
    <form method="post" style="background-color: cyan; padding: 30px;">
        <h3>Forget Password</h3>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Enter Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <button class="btn btn-primary" style="margin-top: 10px;">Send</button>
    </form>
</div>