@using Fiorello.ViewModels.AccountVMs
@model ResetPasswordVM

<div class="container">
    <form method="post" style="background-color: cyan; padding: 30px;">
        <h3>Reset Password</h3>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">New password</label>
            <input asp-for="NewPassword" class="form-control" placeholder="Enter New password">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <input hidden asp-for="UserId" />
        <input hidden asp-for="Token" />
        <button class="btn btn-primary" style="margin-top: 10px;">Reset</button>
    </form>
</div>